:root {
  --white: #ffffff;
  --red: red;
  --yellow500: #ffdd00;
  --pure-yellow: #e6c200;
  --strong-yellow: #cca700;
  --blue500: #0f265c;
  --light-grayish-blue: #eaecf2;
  --dark-grayish-blue: #98989c;
  --light-grayish-blue-two: #e6e6e7;
  --grayish-blue: #cacacc;
  --grayish-blue-two: #b6bac2;
  --light-grayish-blue-three: #f4f6f9;
  --light-grayish-blue-four: #f9fafc;
  --very-light-gray: #f2f2f2;
  --very-dark-lime-green: #155724;
  --very-dark-red: #721c24;
  --very-dark-cyan: #0c5460;
  --light-grayish-blue-five: #d0d4db;
  --light-grayish-blue-six: #eaecf2;
  --very-dark-gray: #333333;
  --light-grayish-lime-green: #d4edda;
  --light-grayish-lime-green-two: #c3e6cb;
  --light-grayish-red: #f8d7da;
  --light-grayish-red-two: #f5c6cb;
  --light-grayish-cyan: #d1ecf1;
  --light-grayish-cyan-two: #bee5eb;
}
