<div class="form-container">
  <div class="header">
    <h2>{{ title }}</h2>
  </div>

  <app-splitter></app-splitter>

  <div class="form">
    <form [formGroup]="form" autocomplete="off">
      <div class="bp-row">
        <div class="pb-col">
          <app-input-form-field
            label="ID"
            formControlName="id"
            [hasError]="hasErrors(form.controls.id)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="InputValidation.checkInputErrors(form.controls.id)"
            [fc]="form.controls.id"
          ></app-input-error-messages>
        </div>
        <div class="pb-col">
          <app-input-form-field
            label="Nombre"
            formControlName="name"
            [hasError]="hasErrors(form.controls.name)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="InputValidation.checkInputErrors(form.controls.name)"
            [fc]="form.controls.name"
          ></app-input-error-messages>
        </div>
        <div class="pb-col">
          <app-input-form-field
            label="Descripción"
            formControlName="description"
            [hasError]="hasErrors(form.controls.description)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="InputValidation.checkInputErrors(form.controls.description)"
            [fc]="form.controls.description"
          ></app-input-error-messages>
        </div>
        <div class="pb-col">
          <app-input-form-field
            label="Logo"
            formControlName="logo"
            [hasError]="hasErrors(form.controls.logo)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="InputValidation.checkInputErrors(form.controls.logo)"
            [fc]="form.controls.logo"
          ></app-input-error-messages>
        </div>
        <div class="pb-col">
          <app-input-form-field
            label="Fecha Liberación"
            formControlName="date_release"
            [hasError]="hasErrors(form.controls.date_release)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="InputValidation.checkInputErrors(form.controls.date_release)"
            [fc]="form.controls.date_release"
          ></app-input-error-messages>
        </div>
        <div class="pb-col">
          <app-input-form-field
            label="Fecha revisión"
            formControlName="date_revision"
            [hasError]="hasErrors(form.controls.date_revision)"
          >
          </app-input-form-field>

          <!-- Errors -->
          <app-input-error-messages
            *ngIf="
              InputValidation.checkInputErrors(form.controls.date_revision)
            "
            [fc]="form.controls.date_revision"
          ></app-input-error-messages>
        </div>
      </div>
    </form>
  </div>

  <div class="buttons-container">
    <app-secondary-button [disabled]="!isFormDirty" (click)="reset()"
      >Reiniciar</app-secondary-button
    >
    <app-primary-button [disabled]="!isFormValid" (click)="send()">
      {{ formData ? "Actualizar" : "Enviar" }}
    </app-primary-button>
  </div>
</div>
