.container {
  padding: 48px;
  .input-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .table-footer-container {
    padding: 16px;
    background-color: #fff;
    .table-container {
      overflow: auto;
    }
    .footer-container {
      margin-top: 8px;
    }
  }
}
