<table>
  <thead>
    <tr>
      <th>
        Logo
        <app-info-icon description="Logo del producto"></app-info-icon>
      </th>
      <th>
        Nombre del producto
        <app-info-icon description="Nombre del producto"></app-info-icon>
      </th>
      <th>
        Descripción
        <app-info-icon description="Descripciób del producto"></app-info-icon>
      </th>
      <th>
        Fecha de liberación
        <app-info-icon
          description="Fecha de liberación del producto"
        ></app-info-icon>
      </th>
      <th>
        Fecha de reestructuración
        <app-info-icon
          description="Fecha de reestructuración del producto"
        ></app-info-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (financialProduct of financialProducts; track financialProduct) {
    <tr>
      <td>
        <img [src]="financialProduct.logo" alt="Logo Producto" />
      </td>
      <td>{{ financialProduct.name }}</td>
      <td>{{ financialProduct.description }}</td>
      <td>{{ financialProduct.date_release | date : "shortDate" }}</td>
      <td>
        <div class="last-column">
          <div>
            {{ financialProduct.date_revision | date : "shortDate" }}
          </div>

          <app-more-actions-button></app-more-actions-button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
