table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: var(--light-grayish-blue-four);
    height: 50px;
    tr {
      th {
        min-width: 236px;
        font-size: 0.8rem;
      }
    }
  }
}

table,
td {
  border-top: 2px solid var(--light-grayish-blue-three);
  border-bottom: 2px solid var(--light-grayish-blue-three);
}

th,
td {
  padding: 4px;
  text-align: left;
}

th {
  background-color: var(--very-light-gray);
}

img {
  border-radius: 50%;
  height: 46px;
  width: 46px;
}

.last-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
