.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content-container {
    overflow-y: auto;
    flex-grow: 1;
    background-color: #f4f6f9;
  }
}
