table {
  width: 100%;
  border-collapse: collapse;
  tr {
    td {
      min-width: 201px;
      height: 50px;
      border-top: 2px solid var(--light-grayish-blue-three);
      border-bottom: 2px solid var(--light-grayish-blue-three);
      background: linear-gradient(
        90deg,
        var(--light-grayish-blue-three),
        var(--light-grayish-blue-two),
        var(--light-grayish-blue-three)
      );
      background-size: 200% 100%;
      animation: skeleton-animation 1s infinite;
    }
  }
  .header {
    td {
      background: linear-gradient(
        90deg,
        var(--light-grayish-blue-three),
        var(--grayish-blue-two),
        var(--light-grayish-blue-three)
      );
    }
  }
}

@keyframes skeleton-animation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
