.alert {
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity 0.5s ease-out;

  &.success {
    background-color: var(--light-grayish-lime-green);
    color: var(--very-dark-lime-green);
    border: 1px solid var(--light-grayish-lime-green-two);
  }

  &.error {
    background-color: var(--light-grayish-red);
    color: var(--very-dark-red);
    border: 1px solid var(--light-grayish-red-two);
  }

  &.info {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    border: 1px solid var(--light-grayish-cyan-two);
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: inherit;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--very-dark-gray);
    }
  }
}
