/* You can add global styles to this file, and also import other style files */
@import "assets/scss/colors";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bp-row {
  display: flex;
  flex-wrap: wrap;
  .pb-col-6 {
    width: calc(50% - 16px);
    padding-left: 8px;
    padding-right: 8px;
  }
}
